$green: #343090;
$blue: #d6d6ea;
$border-radius: 0;
$paragraph-margin-bottom: 0;
@import '~bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  background-color: #4158d0;

  background-image: url('https://www.transparenttextures.com/patterns/food.png');
  overflow: hidden;
}
